<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-l1mOZJzLr+zl2m72CVl6X9z6U/0/KU2BL4UusxkOXNvmcG5f5a5pPW51J7VXyWcC8ksVYBirxiuABb72H2w+zw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card border-danger">
            <div class="card-header bg-danger text-white">
              <h4 class="mb-0">Error</h4>
            </div>
            <div class="card-body">
              <p>Sorry, an error has occurred. Please try again later.</p>
              <a href="/" class="btn btn-primary">Go back to homepage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-yU5S5NO9XyfMrPVhkuCe7o0KxTSu6BZU96ivbUW5/l8JeL3dPzrZ6PHOJWwby8PvSKH+j2QhJcRG5rW8orvEOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
